body {
	font-size: 12px;
	/*background: #e5e5e5;*/
	
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.container {
	filter:alpha(opacity=85);  
    -moz-opacity:0.85;  
    -khtml-opacity: 0.85;  
    opacity: 0.85;  

	background: #fff;
	border-radius: 4px;
	margin: 0 auto;
	padding: 20px 40px 20px;
	width: 700px;
}
h2 {
	border-bottom: 1px solid #d7d7d7;
	margin: 0 0 1em;
	padding: .5em 0;
}
label {
	color: #561616;
	font-size: 14px;
	display: block;
	margin: 0 0 .5em;
}
button {
	background: #719AB7;
	border: medium none;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 300;
	margin: 0 auto;
	padding: 10px 20px;
	text-transform: uppercase;
	width: 35%;
}

input[type="radio"] {
	margin: 0 0 0 1.5em;
}
input[type="text"] {
	border: 1px solid #ccc;
	padding: 5px 7px;
	width: 200px;
}
textarea {
	border: 1px solid #ccc;
	height: 70px;
	margin: 7px 0 0;
	width: 490px;
}

fieldset {
	border: 1px solid #ccc;
	padding: 15px 0 25px;
	position: relative;
}
fieldset .pos-left, 
fieldset .pos-right {
	bottom: 3px;
	color: #ccc;
	position: absolute;
	text-transform: uppercase;
}
fieldset .pos-left {
	left: 5px; 
}
fieldset .pos-right {
	right: 5px;
}

#message {
	font-size: 16px;
	text-align: center;
	background: #427D42;
	color: #EEF3EE;
	padding: 10px;
}